<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>store</title>

<link href="../../public/css/store.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/store.js
"></script>

<script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript" src="../js/store.js"></script>


</head>

<body>
<div id="container">
 
 <div id="logo">
   <img src="../css/walmart_logo.png" width="110" height="90" alt=""/> </div>
 
  <div id="title">
    <h1> Title</h1>
  </div>
  
  <div id="form">
    <form action="/action_page.php">
		<label for="date"><h1>Date</h1></label>
      <input type="date" id="date" name="date">
      
		<label for="department"><h1>Department</h1></label>
      <select id="department" name="department">
        <option value="dep1">Department 1</option>
        <option value="dep2">Department 2</option>
        <option value="dep3">Department 3</option>
         <option value="dep4">Department 4</option>
          <option value="dep5">Department 5</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>
  
  <!---->
  
 <div id="chartContainer" style="height: 300px; width: 100%;">
</div>


	</div>
</body>
</html>
