<!DOCTYPE html>
<html lang="en">

<head>



  <!-- <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script> -->
   <link rel="stylesheet" href="../css/styles.css">
   <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../js/Chart.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walmart Forecast</title>
</head>

<body>

    <div id="main" class="maindiv">
        <div id="titletop" class="titleheader">
            <center>
                <h3>Walmart Sales Forecast</h3></center></div>


<div><canvas id="linechart" width="250" height="400"></canvas></div>


        <div class="styled-select blue semi-square">
            <div id="form">
                <form action="/">
                    <label for="store">
                        <h4>Choose by Store ID</h3></label>
      <select id="store" name="store">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
         <option value="4">4</option>
          <option value="5">5</option>
          <option value="1">6</option>
        <option value="2">7</option>
        <option value="3">8</option>
         <option value="4">9</option>
          <option value="5">10</option>
          <option value="1">11</option>
        <option value="2">12</option>
        <option value="3">13</option>
         <option value="4">14</option>
          <option value="5">15</option>
          <option value="1">16</option>
        <option value="2">17</option>
        <option value="3">18</option>
         <option value="4">19</option>
          <option value="5">20</option>
          <option value="1">21</option>
        <option value="2">22</option>
        <option value="3">23</option>
         <option value="4">24</option>
          <option value="5">25</option>
          <option value="1">26</option>
        <option value="2">27</option>
        <option value="3">28</option>
         <option value="4">29</option>
          <option value="5">30</option>
          <option value="1">31</option>
        <option value="2">32</option>
        <option value="3">33</option>
         <option value="4">34</option>
          <option value="5">35</option>
          <option value="1">36</option>
        <option value="2">37</option>
        <option value="3">38</option>
         <option value="4">39</option>
          <option value="5">40</option>
          <option value="1">41</option>
        <option value="2">42</option>
        <option value="3">43</option>
         <option value="4">44</option>
          <option value="5">45</option>
          <option value="1">46</option>
        <option value="2">47</option>
        <option value="3">48</option>
         <option value="4">49</option>
          <option value="5">50</option>
          <option value="1">51</option>
        <option value="2">52</option>
        <option value="3">53</option>
         <option value="4">54</option>
          <option value="5">55</option>
          <option value="1">56</option>
        <option value="2">56</option>
        <option value="3">56</option>
         <option value="4">57</option>
          <option value="5">58</option>
          <option value="1">59</option>
        <option value="2">60</option>
        <option value="3">61</option>
         <option value="4">62</option>
          <option value="5">63</option>
          <option value="1">64</option>
        <option value="2">65</option>
        <option value="3">66</option>
         <option value="4">67</option>
          <option value="5">68</option>
          <option value="1">69</option>
        <option value="2">70</option>
        <option value="3">71</option>
         <option value="4">72</option>
          <option value="5">73</option>
      </select>
      <input type="submit" value="Submit">
    </form>
  </div>

</div>












</div>
</body>
</html>
